<%- include('../partials/header') %>

    <h1>All Fixtures</h1>

    <table>
        <thead>
            <th>Fixtures Home Team</th>
            <th>Fixtures Away Team</th>
        </thead>
        <tbody>
            <% fixtures.forEach(function(fixture) { %>
                <tr>
                    <td>
                        <%= fixture.homeTeam %>
                    </td>
                    <td>
                        <%= fixture.awayTeam %>
                    </td>
                    <td>
                        <a href="/fixtures/<%= fixture._id %>">Add Prediction</a>
                    </td>
                </tr>
                <% }); %>
        </tbody>

    </table>

    <%- include('../partials/footer') %>