<%- include('../partials/header') %>

    <section id="show-page">
        <div>Fixture: </div>
        <div>
            <%=fixture.fixture %>
        </div>
        <div>Home Score: </div>
        <div>
            <%= fixture.homeScore %>
        </div>
        <div>Away Score: </div>
        <div>
            <%= fixture.awayScore %>
        </div>
        <div>Goalscorer: </div>
        <div>
            <%= fixture.goalScorer %>
        </div>
    </section>

    <br><br>



    <%- include('../partials/footer') %>