<%- include('../partials/header') %>



    <h2>
        <%= fixture.homeTeam %> vs <%= fixture.awayTeam %>
    </h2>
    <ul>
        <% userPredictions.forEach((prediction)=> { %>
            <form method="POST" action='/fixtures/<%= fixture._id %>/predictions/<%= prediction._id %>?_method=DELETE'>
                <li class="prediction-texts">
                    home: <%= prediction.homeScore %> away: <%= prediction.awayScore %>
                </li>
                <button class="delete-btn btn" type="submit">
                    Delete
                </button>
                <button class="edit-btn btn" type="button">
                    <a href="/fixtures/<%= fixture._id %>/predictions/<%= prediction._id %>/edit">Edit</a>
                </button>
            </form>
            <% }); %>
    </ul>

    <form id="add-prediction-form" method="POST" action="/fixtures/<%= fixture._id %>/predictions">
        <br>
        <label class="score-lbl">Home Score:</label>
        <input class="score-prediction" type="number" name="homeScore">
        <br>
        <label class="score-lbl">Away Score:</label>
        <input class="score-prediction" type="number" name="awayScore">
        <br>
        <button class="prediction-btn btn" type="submit">Add Prediction</button>

    </form>


    <%- include('../partials/footer') %>