<%- include('../partials/header') %>



    <h2>
        <%= fixture.homeTeam %> vs <%= fixture.awayTeam %>
    </h2>
    <ul>
        <% userPredictions.forEach((prediction)=> { %>
            <li>
                home: <%= prediction.homeScore %> away: <%= prediction.awayScore %>
            </li>
            <% }); %>
    </ul>

    <form id="add-prediction-form" method="POST" action="/fixtures/<%= fixture._id %>/predictions">
        <br>
        <label>Home Score:</label>
        <input type="number" name="homeScore">
        <br>
        <label>Away Score:</label>
        <input type="number" name="awayScore">
        <br>
        <button type="submit">Add Prediction</button>

    </form>


    <%- include('../partials/footer') %>